@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto" class="mt-5">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h4>Sepet</h4>

        <table class="table table-striped">
            <tr>
                <th>Kitap</th>
                <th>Görsel</th>
                <th>Tür</th>
                <th>Birim Fiyatı(TL)</th>
                <th>Toplam Tutar</th>
                <th>Durum</th>
            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Book.BookName</td>
                    <td>
                        @if(string.IsNullOrEmpty(item.Book.Image))
                        {
                            <img src="/images/no-image.png" style="width:80px;height:100px"/>
                        }
                        else
                        {
                            <img src="/images/@item.Book.Image" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@item.Book.Genre.GenreName</td>
                    <td>@item.Book.Price x @item.Quantity</td>
                    <td>@(item.Book.Price*item.Quantity)</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a>
                        <a class="btn btn-info" href="/Cart/removeitem?bookid=@item.BookId">-</a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5>Toplam(TL): </h5>
            @(Model.CartDetails.Select(item => item.Book.Price*item.Quantity).Sum())
        </div>

        <div class="my-2">
            <a class="btn btn-primary" href="/Cart/Checkout">Tamamla</a>
        </div>

    }
    else
    {
        <h5>Sepette Kitap Yok</h5>
    }
</div>